nav(class="navbar navbar-expand-sm navbar-dark bg-primary")
  a(class="navbar-brand") Demozero App
  ul(class="navbar-nav")
    li(class="nav-item active")
      a(href="/" class="nav-link") Go Home Without Logout
    li(class="nav-item active")
      a(href='https://#{config.AUTH0_DOMAIN}/v2/logout?returnTo=#{config.APP_LOGOUT_URL}&client_id=#{config.APP_CLIENT_ID}' class="nav-link") Logout
    li(class="nav-item active")
      a(href="/user/refresh" class="nav-link") Refresh Tokens
    li(class="nav-item active")
      a(href="/user/userinfo" class="nav-link") Call Userinfo
  | &nbsp;
  | &nbsp;
  span(class="navbar-text")  Logged in as #{user.profile.nickname} &nbsp;
    img(id="userPicture" class="user-picture" src="#{user.profile.picture}")
