extends layout
block content
  include menu
  p &nbsp;
  h1 Welcome #{user.profile.displayName}!
  if userinfoResponse
    p &nbsp;
    strong Userinfo result &nbsp;
    pre#api-call-result #{JSON.stringify(userinfoResponse, null, 4)}
  div(id="accordion")
    div(class="card")
      div(class="card-header" id="headingOne")
        h5(class="mb-0")
          button(class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") ID Token Payload
      div(id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion")
        div(class="card-body")
          pre
            code #{JSON.stringify(decodedIDToken, null, 4)}
    div(class="card")
      div(class="card-header" id="headingTwo")
        h5(class="mb-0")
          button(class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") Access Token Payload
      div(id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion")
        div(class="card-body")
          pre
            code #{JSON.stringify(decodedAccessToken, null, 4)}
    div(class="card")
      div(class="card-header" id="headingThree")
        h5(class="mb-0")
          button(class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree") Tokens
      div(id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion")
        div(class="card-body")
          pre Access Token:
            pre #{tokens.access_token}
          pre ID Token:
            pre #{tokens.id_token}
          pre Refresh Token:
            pre #{tokens.refresh_token}
