extends layout
script.
  (function (window, document) {
  document.getElementById('toggle').addEventListener('click', function (e) {
      document.getElementById('tuckedMenu').classList.toggle('custom-menu-tucked');
      document.getElementById('toggle').classList.toggle('x');
  });
  })(this, this.document);
block content
  include menu
  div#main.pure-g
    div.pure-u-1.l-box
      h3 Welcome #{user.profile.displayName}!
      p
        div.col-sm-12
        strong ID Token Payload
        br
        pre #{JSON.stringify(decodedIDToken, null, 4)}
      p
        div.col-sm-12
        strong Access Token Payload
        br
        pre #{JSON.stringify(decodedAccessToken, null, 4)}
      p
        strong refresh_token &nbsp;
        a(href="user/refresh")
          button#apiCallButton.pure-button.pure-button-primary Refresh Tokens
        &nbsp;
        pre #{user.extraParams.refresh_token}
      p &nbsp;
      p
        strong access_token &nbsp;
        &nbsp;
        pre #{user.extraParams.access_token}
      p &nbsp;
      p
        strong API call result &nbsp;
        a(href="user/userinfo")
          button#apiCallButton.pure-button.pure-button-primary Call Userinfo
        br
        pre#api-call-result #{JSON.stringify(apiData, null, 4)}
